@import 'styles/variables';
@import 'styles/mixins';

.hero {
  margin-top: -90px;
  overflow: hidden;
  position: relative;
  height: 600px;
  width: 100%;
  margin-bottom: 75px;
  background-color: rgba($color: $dark, $alpha: 0.96);

  @include devices(tablet) {
    height: 775px;
    margin-bottom: 100px;
  }

  @include devices(desktop) {
    margin-top: -105px;
    margin-bottom: 150px;
  }

  .imageContainer {
    position: relative;
    height: 100%;
    max-width: 1440px;
    overflow: hidden;
    margin: auto;

    .image {
      object-fit: cover;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    background-color: rgba($color: black, $alpha: 0.35);
    height: 100%;
    width: 100%;
    margin: auto;

    .container {
      height: 100%;
      width: 100%;
      max-width: 1110px;
      margin: auto;
      margin-top: 40px;
      display: flex;

      @include devices(desktop) {
        margin-top: 25px;
      }
      .textContainer {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 30px;
        max-width: 400px;
        margin: auto;

        @include devices(desktop) {
          text-align: left;
          align-items: flex-start;
          margin: 0;
          padding-left: 24px;
        }

        .overline {
          color: $neutral;
          opacity: 35%;
          margin-bottom: 25px;
        }

        h2 {
          font-weight: 500;
          font-size: 36px;
          line-height: 40px;
          letter-spacing: 1.28px;
          margin-bottom: 25px;
        }

        h1 {
          font-weight: 500;
          margin-bottom: 25px;
        }

        p {
          opacity: 65%;
          margin-bottom: 30px;
        }
      }
    }
  }
}
