@import 'styles/variables';
@import 'styles/mixins';

.product {
  padding: 0 24px;
  max-width: 1110px;
  margin: 70px auto;

  .back {
    cursor: pointer;
    margin-bottom: 20px;

    &:hover {
      color: $primary;
    }
  }

  .card {
    margin-bottom: 80px;
  }

  .details {
    @include devices(desktop) {
      display: flex;
      justify-content: space-between;

      .features {
        max-width: 635px;
        margin-right: 25px;
      }

      .includes {
        width: 350px;
      }
    }
    .features {
      width: 100%;
      margin-bottom: 80px;
    }

    .includes {
      margin-bottom: 80px;
    }
  }
}
