@import 'styles/variables';
@import 'styles/mixins';

.product {
  padding: 0 24px;
  max-width: 1110px;
  margin: 16px auto;
  margin-bottom: 120px;
  @include devices(tablet) {
    margin-top: 33px;
  }
  @include devices(desktop) {
    margin-bottom: 190px;
  }

  .back {
    cursor: pointer;
    margin-bottom: 20px;
    @include devices(tablet) {
      margin-bottom: 24px;
    }
    @include devices(desktop) {
      margin-bottom: 56px;
    }

    &:hover {
      color: $primary;
    }
  }

  .card {
    margin-bottom: 88px;
    @include devices(tablet) {
      margin-bottom: 120px;
    }
    @include devices(desktop) {
      margin-bottom: 160px;
    }
  }

  .details {
    margin-bottom: 88px;
    @include devices(tablet) {
      margin-bottom: 120px;
    }
    @include devices(desktop) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 160px;

      .features {
        max-width: 635px;
        margin-right: 25px;
      }

      .includes {
        width: 350px;
      }
    }
    .features {
      width: 100%;
      margin-bottom: 88px;
      @include devices(tablet) {
        margin-bottom: 120px;
      }
      @include devices(desktop) {
        margin-bottom: 0;
      }
    }
  }

  .gallery {
    margin-bottom: 120px;
    @include devices(desktop) {
      margin-bottom: 160px;
    }
  }
}
