@import 'styles/variables';

.button {
  font-weight: 600;
  padding: 10px 25px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all $transistionDuration;

  &.primary {
    background-color: $primary;
    color: white;
    &:hover {
      background-color: $secondary;
    }
  }

  &.secondary {
    background-color: transparent;
    color: black;
    border: black solid 1px;
    &:hover {
      background-color: black;
      color: white;
    }
  }

  &.inverted {
    color: white;
    background-color: black;
    border: black solid 1px;
    &:hover {
      background-color: transparent;
      color: black;
    }
  }

  &.flat {
    font-weight: 700;
    background-color: transparent;
    color: black;
    &:hover {
      color: $primary;
    }
  }
}
