@import 'styles/variables';

.button {
  padding: 15px 30px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all $transistionDuration;

  font-weight: 700;
  font-size: 13px;
  line-height: 18px;

  letter-spacing: 1px;

  &.primary {
    background-color: $primary;
    color: white;
    &:hover {
      background-color: $secondary;
    }
  }

  &.secondary {
    background-color: transparent;
    color: black;
    border: black solid 1px;
    &:hover {
      background-color: black;
      color: white;
    }
  }

  &.inverted {
    color: white;
    background-color: black;
    border: black solid 1px;
    &:hover {
      background-color: transparent;
      color: black;
    }
  }

  &.flat {
    font-weight: 700;
    background-color: transparent;
    color: black;
    &:hover {
      color: $primary;
    }
  }
}
