@import 'styles/variables';
@import 'styles/mixins';

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-bottom: 24px;
  .product {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
    .image {
      border-radius: 8px;
      position: relative;
      overflow: hidden;
      width: 64px;
      height: 64px;
      img {
        object-fit: cover;
      }
    }
    .info {
      // max-width: 70px;
      h6 {
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
      }

      span {
        font-weight: 700;
        font-size: 14px;
        line-height: 25px;
        opacity: 0.5;
      }
    }
  }
  .quantity {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1.28571px;
    opacity: 0.5;
  }
}
