@import 'styles/variables';
@import 'styles/mixins';

.shopCard {
  background-color: $neutral;
  border-radius: 12px;
  text-align: center;
  height: 165px;
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  @include devices(desktop) {
    height: 204px;
  }

  .thumbnail {
    margin-top: -58px;

    @include devices(desktop) {
      margin-top: -100px;
      margin-bottom: -20px;
    }
  }

  .name {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1.07143px;

    @include devices(desktop) {
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 1.28571px;
    }
  }

  .buttonText {
    display: flex;
    align-items: center;

    .icon {
      color: $primary;
      margin-bottom: 2px;
    }
  }
}
