@import 'styles/variables';
@import 'styles/mixins';

.container {
  @include devices(tablet) {
    display: flex;
    justify-content: space-between;
  }

  @include devices(desktop) {
    display: block;
  }

  h4 {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    width: 100%;
  }

  .items {
    width: 100%;
    .item {
      margin-bottom: 8px;
      font-weight: 500;
      font-size: 15px;
      line-height: 25px;

      .quantity {
        font-weight: 700;
        color: $primary;
        margin-right: 20px;
      }
    }
  }
}
