@import 'styles/variables';
@import 'styles/mixins';

.checkout {
  padding-top: 16px;
  padding-bottom: 16px;
  background: $neutral;
  .container {
    margin: auto;
    max-width: 1110px;
    padding: 0 24px;
  }
}
