@import 'styles/variables';
@import 'styles/mixins';

.home {
  padding: 0 24px;
  max-width: 1110px;
  margin: auto;
  .zx9Card {
    background-color: $primary;
    border-radius: 12px;
    text-align: center;
    color: white;
    padding: 55px 30px;
    margin-bottom: 24px;
    overflow: hidden;
    height: 600px;

    @include devices(tablet) {
      height: 720px;
    }
    @include devices(desktop) {
      height: 560px;
    }

    .container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include devices(desktop) {
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        margin: 0 80px;
        gap: 60px;
      }

      .speaker {
        z-index: 1;
        margin-bottom: 36px;

        @include devices(tablet) {
          margin-bottom: 64px;
        }
        @include devices(desktop) {
          margin-bottom: -100px;
        }
      }

      .circles {
        pointer-events: none;
        position: absolute;
        top: -175px;

        @include devices(tablet) {
          width: 950px;
          height: 950px;
          top: -375px;
        }
        @include devices(desktop) {
          width: 950px;
          height: 950px;
          top: auto;
          bottom: -400px;
          left: -275px;
        }
      }

      .textContainer {
        z-index: 1;
        max-width: 350px;

        @include devices(desktop) {
          text-align: left;
          margin: 0;
        }

        h3 {
          z-index: 2;
          padding: 0 50px;
          margin-bottom: 25px;
          font-size: 36px;
          line-height: 40px;
          letter-spacing: 1.29px;

          @include devices(tablet) {
            font-size: 56px;
            line-height: 58px;
            letter-spacing: 2px;
            margin-bottom: 35px;
          }
          @include devices(desktop) {
            padding: 0;
          }
        }

        p {
          opacity: 0.75;
          margin-bottom: 25px;

          @include devices(tablet) {
            margin-bottom: 35px;
          }
        }
      }
    }
  }

  .zx7Card {
    height: 320px;
    margin-bottom: 24px;
    border-radius: 12px;
    overflow: hidden;
    .container {
      position: relative;
      height: 100%;

      .image {
        position: absolute;
        object-fit: cover;
      }

      .textContainer {
        height: 100%;
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 30px;

        h3 {
          font-weight: 700;
          font-size: 28px;
          line-height: 38px;
          letter-spacing: 2px;
          margin-bottom: 32px;
        }
      }
    }
  }

  .yx1Container {
    height: 427px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include devices(tablet) {
      flex-direction: row;
      gap: 11px;
      margin-bottom: 0;
    }

    @include devices(desktop) {
      margin-bottom: 80px;
    }

    .container {
      position: relative;
      height: 200px;
      width: 100%;
      background-color: $neutral;
      border-radius: 12px;
      overflow: hidden;

      @include devices(tablet) {
        height: 320px;
      }

      .image {
        object-fit: cover;
      }
    }

    .textContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 0 30px;
      h3 {
        font-weight: 700;
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 2px;
        margin-bottom: 32px;
      }
    }
  }
}
